h1 {
    color: brown;
}

body {
    background-color: rgb(207, 200, 214);
}

ul {
    background-color: rgb(194, 195, 185);
}

li {
    border: 2px red solid;
    ;
}

p {
    background-color: rgb(232, 178, 90);
    padding: 15px;
}